includes:
    - packages/apie-phpstan-rules/apie-phpstan-rules.neon
parameters:
    level: 6
    paths:
        - packages/apie-bundle/src
        - packages/apie-phpstan-rules/src
        - packages/cms/src
        - packages/cms-api-dropdown-option/src
        - packages/cms-layout-graphite/src
        - packages/common/src
        - packages/common-value-objects/src
        - packages/console/src
        - packages/count-words/src
        - packages/core/src
        - packages/country-and-phone-number/src
        - packages/date-value-objects/src
        - packages/dateformat-to-regex/src
        - packages/doctrine-entity-converter/src
        - packages/doctrine-entity-datalayer/src
        - packages/faker/src
        - packages/integration-tests/src
        - packages/html-builders/src
        - packages/laravel-apie/src
        - packages/regex-value-objects/src
        - packages/rest-api/src
        - packages/schema-generator/src
        - packages/serializer/src
        - packages/storage-metadata/src
        - packages/text-value-objects/src
    ignoreErrors:
        - '#isInitialized\(\) on a separate line has no effect#'
        - '#ReflectionException is never thrown in the try block#'
        - '#Call to an undefined method Faker\\Generator#'
        - '#Access to an undefined property UnitEnum::\$value#'
        - '#::(all|find|persistNew|persistExisting|removeExisting)\(\) invoked with 2 parameters, 1 required#'
        - '#template type T in call to method static method Apie\\Core\\Actions\\ActionInterface::getInputType#'
        - '#::getInputType|getRouteAttributes\(\) invoked with 2 parameters, 1 required#'
        - '#template type T in call to method static method Apie\\Core\\IdentifierUtils::entityClassToIdentifier#'
        - '#template type T in call to method Apie\\Core\\Actions\\ApieFacadeInterface::persistNew#'
        - '#toScalarType\(\) invoked with 1 parameter, 0 required#'
        - '#ReflectionEnumUnitCase::getBackingValue#'
        -
            message: '#is assigned outside of its declaring class#'
            path: packages/doctrine-entity-converter/src/CodeGenerators/AddDoctrineFields.php
            count: 1
        - 
            message: '#ActionInterface::#'
            path: packages/common/src/RouteDefinitions/AbstractRestApiRouteDefinition.php
            count: 8
        -
            message: '#Variable \$parameters on left side#'
            path: packages/rest-api/src/EventListeners/OpenApiOperationAddedEventSubscriber.php
            count: 1
        -
            message: '#Unable to resolve the template type T in call to method Apie\\Core\\Datalayers\\ApieDatalayer::all#'
            path: packages/cms-api-dropdown-option/src/DropdownOptionProvider/EntityIdentifierOptionProvider.php
            count: 1
        -
            message: '#View to string#'
            path: packages/laravel-apie/src/Wrappers/Cms/DashboardContents.php
            count: 1
        -   
            message: '#Call to an undefined method ReflectionType::getName#'
            path: packages/core/src/Utils/EnumUtils.php
            count: 2
        - '#Unable to resolve the template type T in call to method static method Apie\\Core\\Utils\\ConverterUtils::toReflectionClass\(\)#'
        -
            message: '#NodeDefinition::children#'
            path: packages/apie-bundle/src/DependencyInjection/Configuration.php
            count: 1
        -
            message: '#Instantiated class Apie\\CountryAndPhoneNumber\\PhoneNumber is abstract#'
            path: packages/core/src/ValueObjects/IsStringValueObject.php
            count: 1
        - 
            message: '#iterable type array#'
            path: packages/serializer/src/
            count: 12
        -
            message: '#ValueObjectInterface::getRegularExpression#'
            path: packages/schema-generator/src/SchemaProviders/
            count: 2

        -
            message: '#constructor expects Apie\\SchemaGenerator\\Interfaces\\SchemaProvider\<object\>#'
            path: packages/schema-generator/src/ComponentsBuilderFactory.php
            count: 9

        -
            message: '#Negated boolean expression is always false#'
            path: packages/rest-api/src/OpenApi\OpenApiGenerator.php
            count: 1

        -
            message: '#PathItem::\$connect#'
            path: packages/rest-api/src/OpenApi\OpenApiGenerator.php
            count: 1

        -
            message: '#Operation::\$responses#'
            path: packages/rest-api/src/OpenApi\OpenApiGenerator.php
            count: 1

        -   '#Unable to resolve the template type T in call to method static method Apie\\Core\\Utils\\EntityUtils::findClass#'

        -
            message: '#Call to an undefined static method Apie\\Core\\ValueObjects\\Interfaces\\ValueObjectInterface::#'
            path: packages/faker/src/Fakers/PasswordValueObjectFaker.php
            count: 7
        -   '#SearchIndex::\$parent#'

        -
            message: '#Unable to resolve the template type T in call to method#'
            path: packages/faker/src/ApieObjectFaker.php
            count: 1

        -
            message: '#If condition is always true#'
            path: packages/country-and-phone-number/src/
            count: 13

        -
            message: '#Unreachable statement - code above always terminates#'
            path: packages/country-and-phone-number/src/
            count: 10

        -
            message: '#the constructor#'
            path: packages/core/src/Actions/ActionResponse.php
        -
            message: '#Call to an undefined static method Apie\\Core\\ValueObjects\\Interfaces\\ValueObjectInterface::#'
            path: packages/html-builders/src/Components/Forms/Password.php
            count: 8
        -
            message: "#Class 'PossibleRoutePrefixes' is a value object that returns an array, but it does not use CompositeValueObject trait#"
            path: packages/common/src/ValueObjects/PossibleRoutePrefixes.php
            count: 1
        -
            message: '/Parameter #1 \$fakeProviders/'
            path: packages/faker/src/Command/ApieSeedCommand
            count: 1
        -
            message: '/constructor expects Illuminate\\Contracts\\Container\\Container/'
            path: packages/integration-tests/src/Applications/Laravel/LaravelTestApplication
            count: 1
        -
            message: '# has an uninitialized readonly property#'
            path: packages/storage-metadata/src/Mediators/DomainToStorageContext.php
        -
            message: '#Unable to resolve the template type T#'
            path: packages/storage-metadata/src/PropertyConverters/OneToManyAttributeConverter.php