<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./packages</directory>
    </include>
    <exclude><directory suffix=".php">vendor</directory><directory suffix=".php">packages/composite-value-objects/tests</directory><directory suffix=".php">packages/date-value-objects/tests</directory><directory suffix=".php">packages/common-value-objects/tests</directory><directory suffix=".php">packages/dateformat-to-regex/tests</directory><directory suffix=".php">packages/faker/tests</directory><directory suffix=".php">packages/schema-generator/tests</directory><directory suffix=".php">packages/core/tests</directory></exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="APP_ENV" value="test" force="true"/>
    <server name="SHELL_VERBOSITY" value="-1"/>
    <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
    <server name="SYMFONY_PHPUNIT_VERSION" value="9.5"/>
    <server name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=999999&amp;max[self]=0"/>
  </php>
  <testsuites>
    <testsuite name="All packages"><directory>packages/composite-value-objects/tests</directory><directory>packages/date-value-objects/tests</directory><directory>packages/common-value-objects/tests</directory><directory>packages/dateformat-to-regex/tests</directory><directory>packages/faker/tests</directory><directory>packages/schema-generator/tests</directory><directory>packages/core/tests</directory></testsuite>
  </testsuites>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
  </listeners>
</phpunit>
